* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar {
    border: 2px solid rgb(4, 0, 255);
    background-color: rgb(63, 169, 211);
    grid-row: span 2;
}

.header {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    grid-column: span 2;
}

.content {
    border: 2px solid rgba(240, 64, 181, 0.842);
    background-color: rgb(190, 213, 216);
    grid-column: span 2;
}